#content{
	/*background: #fff;*/
}
#header i{
	margin-top: 5px;
}
#logo{
	margin-top: 8px;
}

.table a{
	text-decoration: none;	color: #4387FD;
}

.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
background-image: url("../img/glyphicons-halflings-white.png");
}
.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
margin-right: 2px;
}
article .minifyme i{
	margin-top: 4px;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  /*background-image: url("../img/glyphicons-halflings.png");*/
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

	/*
	 * Toggle Demo
	 */
	
	.toggle-demo {
		position: absolute;
		top: 10px;
		right: -8px;
		display: block;
		width: 150px;
		height: auto;
		z-index: 99;
		opacity: .9;
		
	}.toggle-demo:hover {
		opacity:1;
	}
	
	.toggle-demo .btn-group {
		width:100px;
		float:left;
	}
	
	.toggle-demo > span {
		display:inline-block;
		float:left;
		margin-right:5px;
		line-height: 21px;
		color: #757575;
	}
	

	/*
	 * noUISlider vertical demo
	 */
	.demo-vertical-uislider {
		
		box-sizing: border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.demo-vertical-uislider > div {
		height:200px;
		margin: 0 0px 0 10px;
		display:inline-block;
	}
	
	.demo-vertical-uislider >:first-child {
		margin-left:15px;
	}

	
	/*
	 * Knobs demo
	 */
	
	.knobs-demo > div {
		display:inline-block;
		margin-left:30px;
	}
	.knobs-demo >:first-child {
		margin-left:0;
	} 

	/*
	 * DEMO INPUT
	 */
	
	.demo label input[type=radio].radiobox+span:before, .demo label input[type=checkbox].checkbox+span:before {
		border: 1px solid #5E5E5E;
	}

	.demo label:hover input[type=checkbox].checkbox+span:before {
		border-color:#E77317;
	}

	/*
	 * DEMO
	 * Demo CSS only
	 */	
	.demo label {
		margin-bottom:4 !important;
	}
	
	.demo .checkbox i {
		border-color: #7A7A7A;
	}
	
	.demo .radio, .demo .checkbox {
	 	padding-left:22px;
	}
	
	.demo.activate {
		right:0px !important;
		box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.2);
		padding:5px 10px 10px; 
	}

	.demo #demo-setting + form {
		display:none;
	}
	
	.demo.activate #demo-setting + form {
		display:block;
	}
	
	.demo {
		position:absolute; 
		top:5px; 
		right:0px; 
		width:160px;
		z-index:5; 
		background:#F1DA91;
	}
	
	.demo > span {
		position: absolute;
		right: 0px;
		top: 0px;
		display: block;
		height: 30px;
		width: 30px;
		border-radius: 5px 0 0 5px;
		background: #F1DA91;
		padding: 2px;
		text-align: center;
		line-height: 28px;
		cursor:pointer;
	}
	
	.demo > span i {
		font-size:17px;
		margin-top: 5px;
	}
	
	.demo.activate > span i:before {
		content: "\f00d";
	}
	
	.demo.activate > span {
		left: -30px;
	}
	
	.demo > span:hover i {
		color:#333 !important;
	}
	
	.demo form section {
		margin:0 !important;
	}
	
	.demo .btn {
		font-size: 13px !important;
		line-height: 1.5 !important;
		border-radius: 3px !important;
		padding: 3px 7px !important;
		height:auto !important;
	}
	
	.demo-liveupdate-1 {
		font-size: 12px !important;
		position: absolute !important;
		left: 33px;
		top: 15px;
		display: block;
		z-index: 2;
		font-weight: bold;
		padding: 1px 61px 3px 7px;
	}

	.demo-btns {
		margin:0;
		padding:0;
		list-style:none;
	}
	.demo-btns > li {
		display:inline-block;
		margin-bottom:7px;
	}

	
	.demo-icon-font {
		font-size: 14px;
		margin-bottom: 6px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	.demo-icon-font:hover {
		background-color: rgba(86, 61, 124, 0.1);
		text-decoration: none;
	}
	
	.demo-modal {
		width: auto;
		max-width:600px;
		z-index: 1;
	}
	
	.demo-red {
		color:#DF413E
	}
	
	.demo-orange {
		color:#DAA03E;
	}
	
	.demo-border {
		border:1px solid rgba(0,0,0,.2)
	}

	header{font-weight: bold !important;}
	header a{cursor: pointer;text-decoration: none; color: #FF5A14;font-weight: normal;}

#tabs { background-color: #EEE !important;}
	.nav-tabs>li>a{cursor: pointer;}
	.nav-tabs>li>a:hover{border-top: 1px solid #ddd;border-right: 1px solid #ddd;border-left: 1px solid #ddd;}
	p#preloaderAnimation{
    position: relative;
    top: 50%;
    left: 50%;
}
img#preloaderAnimation{
    position: relative;
    top: 50%;
    left: 50%;
}

	div#preLoaderDiv
{
    position: fixed;
    _position: absolute;
    _top:expression(eval(document.body.scrollTop));
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

div#preLoaderDiv
{
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
}